.card {
    display: inline-block;
    width: 200px;
    border: 1px blue solid;
    margin: 10px;
    padding: 5px;
}

.brand-img {
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 25px;
}

.thumbnail-img {
    width: 100%;
}

.thumbnail-container {
    position: relative;
}